html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 2em; /* bottom = footer height */
    font-family: 'Lato', serif; 
    font-color: #111;
    line-height: 1.7em;
    background: #fcfcfc;
}

p a:hover { /* this isn't working */
    color: blue;
}

footer-border {
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    border-top: 3px solid #e2d4ba;
    z-index: 3;
}

header-border {
    position: absolute;
    top: 0;
    height: 4.4em;
    width: 100%;
    border-bottom: 3px solid #e2d4ba; /* #666; */
    z-index: 3;
}

header {
    /* color & text details */
    /* ==================== */
    background-color: #fcfcfc; /* was #ccc; */
    font-family: 'Nixie One', cursive;
    letter-spacing: 1px;
    font-size: 3em;
    color: #870628;
    /* position */
    /* ======== */
    position: relative;
    float: top;
    height: 0.7em;
    padding-top: 0.7em;
    /* padding-left == nav bar width + padding + 2em */
    margin-left: 3em; 
    padding-left: 1em;
}


header a:link, a:visited {
    text-decoration: none;
    color: #870628;
}

header a:hover {
    color: #936370;
/*  I'd like to introduce some gradient text later */
/*  background: -webkit-linear-gradient(#fff0800, #870628);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

nav {
    /* color & text details */
    /* ==================== */
    /* background-image: linear-gradient(to left,#ccc, #666); */
    font-weight: 600;
    color: black;
    line-height: 3em;
    font-size: 1em;
    letter-spacing: 1px;
    /* position */
    /* ======== */
    padding-left: 2em;
    padding-top: 1em;
    position: fixed; /* was relative */
    overflow: auto;
    float: left;
    width: 8em;
    z-index: 2;
}

nav-background {
    /* color & text details */
    /* ==================== */
    /*  background-image: linear-gradient(to left,#ccc,#666); */
    background-color: #636568;
    border-right: 2px solid #666; /* was 666 */
    /* position */
    /* ======== */
    position: absolute;
    left: 0;
    height: 100%;
    width: 10em; /* nav width + padding */
    z-index: 1; /* behind everything */
}

nav-vertical {
    position: absolute;
    left: 9.5em;
    height: 100%;
    border-right: 3px solid #e2d4ba;
    z-index: 3;
}

.nav_class {
    text-align: center;
    font-weight: 600; /* for Lato Black */
}

nav a:link, nav a:visited {
    color: #fcfcfc;
    text-decoration: none;
}

nav a:hover {
    color: #e2d4ba;
    border-bottom: 1px solid #e2d4ba;
}

article {
    /* color & text details */
    /* ==================== */
    text-align: justify;
    text-justify: inter-word;
    font-size: 1em;
    /* position */
    /* ======== */
    position: relative;
    float: top;
    margin-left: 12em; 
    /* margin-left == nav bar width + padding + 2em */
    margin-right: 5%;
    margin-top: 1.5em;
    padding-bottom: 1.5em;
}

p a:link { 
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #111;
}

p a:visited {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
}

h1 {
    font-weight: 700;
    font-size: 1em;
    line-spacing: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-weight: 700;
    font-size: 1em;
    line-spacing: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.top-image {
    position: relative;
    float: left;
    width: 28%;
    height: 0;
    padding-bottom: 28%;
    border: 2px solid #636568;
    margin: 2%;
    text-align: center;
    vertical-align: middle;
}

.tagline {
    font-family: 'Lato', serif;
    font-size: 1.2em;
    color: #936370;
}

.ornament {
    color: #b5a992;
    font-family: LiebeOrnaments;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.3em;
}

.inline_ornament {
    font-family: LiebeOrnaments; 
    font-size: 3em;
    color: #b5a992;
    position: relative;
    bottom: -0.3em;
}

.intext_ornament {
    display: inline-block;
    vertical-align: top;
    margin-top: -0.2em;
    font-weight: 400;
    font-family: LiebeOrnaments; 
    font-size: 3em;
    color: #b5a992;
}

/* Later change this to a div floating over the nav bar */
#home-icon {
    font-family: LiebeOrnaments; 
    font-weight: 400;
    font-size: 4em;
    color: #e2d4ba;
    text-align: left;
    margin-top: -0.4em;
}

#home-icon a:link {
    color: #e2d4ba;
    text-decoration: none;
    border-bottom: 0px solid #fff;
}

#home-icon a:visited {
    color: #e2d4ba;
    text-decoration: none;
    border-bottom: 0px solid #fff;
}

#home-icon a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 0px solid #fff;
}

footer {
    background-color: #fcfcfc; /* #ccc; */
    font-weight: bold;
    color: #111;
    letter-spacing: 1px;
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 2em; /* same as margin in body */
    /* width: 100%; */
    padding-left: 12em; 
    padding-bottom: 0.5em;
}

footer-background {
    background-color: #fcfcfc; /* same as footer */
    position: absolute;
    width: 100%;
    height: 3em;
    left: 0;
    bottom: 0;
    z-index: -1;
}

