{% block body %}
<div class="inline_ornament">&#x00A9; </div><span style="font-weight: 600; line-spacing: 1px;">&emsp;&emsp;About Monica</span>
<p>Though prenatal tests revealed some genetic markers associated with Ideas Guys, this is all (mostly) under control thanks to years of vigilant screening and preventive treatments. </p>

<div class="inline_ornament">&#x00A9; </div><span style="font-weight: 600; line-spacing: 1px;">&emsp;&emsp;About the website</span>
<p>In conclusion: welcome.</p>
{% endblock %}
