{% block body %}
<p>It's okay! This is a work in progress to describe something I've been developing in my spare time since 2015. As soon as I have drawings and links and this page feels a bit more filled out, I'll delete this section and let the concept stand on its own.</p> 
<p>As for me, my name is Monica, and I'm a software engineer during business hours. I've been interested in robots my whole life. One thing I think today's hobby robotics is lacking is a slow, methodical, bottom-up approach to complexity &mdash; and that, among other things, is what I'm trying to explore.</p>
{% endblock %}
