<!doctype html><head><title>Calm Robotics</title>

<!-- stylesheets and icons -->
<link rel=stylesheet type=text/css href="static/style.css?q=1103">
<link rel="shortcut icon" href="static/favicon.ico?q=102">

<!-- fonts -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nixie+One">
<link rel=stylesheet type=text/css href="static/LiebeOrnaments_Webfont.css">

</head>

<!-- html5.js simply helps older browsers and IE recognize HTML5 elements -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='html5.js') }}"></script> -->

<body>  

  <header-border></header-border>
  <footer-border></footer-border>
  <nav><a href="#top" id="home-icon"><span style="border-bottom: none;">G</span></a><br>
    {% block nav_content %}{% endblock %}
<!--       <a href="#glossary">Glossary</a><br>
       <a href="#faq">FAQ</a><br>
       <a href="#bibliography">Bibliography</a> -->
  </nav><nav-background></nav-background><nav-vertical></nav-vertical>
  <header class="internal">{% block header %}{% endblock %}</header>
  <article>
  <div class="breadcrumb">{% block breadcrumbs %}{% endblock %}</div>
  {% block content %}{% endblock %}
  </article>
  <footer>Text Only &emsp;&emsp;&emsp; Site Map &emsp;&emsp;&emsp; Related &emsp;&emsp;&emsp; Credits </footer>
  <footer-background></footer-background>
</body> 

</html>

